
body {
    background-color: transparent;
    background-image: url(../images/web/screen.jpg);
}

* {
    color: white;
}

h2 {
    font-size: x-large;
}

#heading {
    margin-top: 11%;
}

#welcome, #instructions, #WORD {
    line-height: 10%;
    padding: 1%;
}
/* 
.container {
    border: 1px solid red;
    width: 90%;
    margin-top: 10%;
} */
.stats-box {
    /* border: 1px solid red; */
    width: 80%;
    height: 100px;
    /* background: aqua; */
    margin: auto;
    padding: 5px;
    border: 1px solid red;

}
#stats {
    text-align: center;
    width: fit-content;
    padding-left: 10%;
    float: left;
}

#WORD {
    float: left;
    padding-left: 28%; 
}

#keys {
    float: left;
    margin-top: -2%;
    margin-left: 20%;
    text-align: right;
    border: 1px solid red;
}
#welcome, #instructions, #WORD, #endPrompt {
    text-align: center;
}