
body {
    background-size: cover;
    background-image: url(../images/web/screen.jpg);
}

* {
    color: white;
}

h2 {
    font-size: x-large;
}

#endPrompt {
    font-size: xx-large;
}
#heading {
    margin-top: 12%;
}

#welcome, #instructions, #WORD {
    line-height: 10%;
    padding: 1%;
}

.stats-box {
    width: 80%;
    height: 100px;
    margin: auto;
    padding: 5px;

}
#stats {
    text-align: center;
    width: fit-content;
    padding-left: 10%;
    float: left;
}

#WORD {
    float: left;
    padding-left: 28%; 
}

#keys {
    float: left;
    margin-left: 20%;
    text-align: right;
}

#welcome, #instructions, #WORD, #endPrompt {
    text-align: center;
}