
body {
    background-size: cover;
    background-image: url(../images/web/screen.jpg);
}

* {
    color: white;
}

h2 {
    font-size: x-large;
}

#endPrompt {
    font-size: xx-large;
}
#heading {
    margin-top: 12%;
}

#welcome, #instructions, #WORD {
    line-height: 10%;
    padding: 1%;
}

.stats-box {
    width: 80%;
    height: 100px;
    margin: auto;
    padding: 5px;

}
#stats {
    text-align: center;
    width: fit-content;
    padding-left: 10%;
    float: left;
}

#WORD {
    float: left;
    padding-left: 28%; 
}

#keys {
    float: left;
    margin-left: 20%;
    text-align: right;
}

#welcome, #instructions, #WORD, #endPrompt {
    text-align: center;
}

@media only screen {
    body {
        background-size: auto;
    }
}


@media only screen and (max-width: 1560px) {
    #heading {
        margin-top: 13%;
    }
}


@media only screen and (max-width: 1500px) {
    #heading {
        margin-top: 14%;
    }
}

@media only screen and (max-width: 1400px) {
    #heading {
        margin-top: 16%;
    }
}

@media only screen and (max-width: 1320px) {
    #heading {
        margin-top: 17%;
    }
}


@media only screen and (max-width: 1230px) {
    #heading {
        margin-top: 18%;
    }
}


@media only screen and (max-width: 1100px) {
    #heading {
        margin-top: 20%;
    }
}

@media only screen and (max-width: 980px) {
    #heading {
        margin-top: 22%;
    }
}


@media only screen and (max-width: 915px) {
    #heading {
        margin-top: 25%;
    }
}


@media only screen and (max-width: 850px) {
    #heading {
        margin-top: 26%;
    }

    #welcome {
        padding: 1%
    }
}

@media only screen and (max-width: 768px) {
    #heading {
        margin-top: 30%;
    }

    #welcome {
        padding: 2%;
    }
}

@media only screen and (max-width: 640px) {
    #heading {
        margin-top: 33%;
    }

    #welcome {
        padding: 3%;
    }
}


@media only screen and (max-width: 600px) {
    * {
        line-height: 10px;
    }
}


@media only screen and (max-width: 550px) {
    * {
        visibility: hidden;
    }
}